<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-grid-row">
        <p-toolbar class="ui-grid-col-12">
            <div class="ui-toolbar-group-left">
                <span>RobotMe!</span>
                <i class="fa fa-bars"></i>
                <button pButton type="button" (click)="newInteraction()" label="New" icon="fa-plus"></button>
                <button pButton type="button" label="Open" icon="fa-folder-open"></button>
            </div>
            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="fa-search"></button>
                <i class="fa fa-bars"></i>
                <button pButton type="button" icon="fa-refresh"></button>
                <button pButton type="button" icon="fa-trash"></button>
            </div>
        </p-toolbar>
    </div>
</div>
<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </div>
</div>